input[name='name'] {
    height: initial;
    font-size: 2em;
    font-family: 'Eczar', $serif;
    font-weight: 700;
    line-height: initial;
    border: none;
    border-bottom: 2px solid var(--primary);
    border-radius: 0;
    color: var(--primary);
    width: 100%;
}

select[name='folder'] {
    color: white;
    background-color: var(--alt);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 2px rgba(255, 255, 255, 0.3);
    border: none;
    margin: 0;
    margin-top: var(--space-m);
    padding: var(--space-m);
    height: initial;
    cursor: pointer;

    option {
        background-color: white;
        color: var(--body);
        padding: var(--space-m);
    }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus {
    box-shadow: 0 0 0 1px var(--primary);
}
