<div class="sidebar_title">
    <h2>{{localize 'PF2E.ResistancesLabel'}}</h2>
</div>

<ol class="resistances tags">
    {{#each data.traits.dr.selected as |v k|}}
    <li class="tag {{k}}">
        {{v}}
    </li>
    {{/each}}
    {{#if owner}}
    <li class="tag edit-btn">
        <a class="crb-trait-selector" data-trait-selector="resistances">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
    {{/if}}
</ol>

<div class="sidebar_title">
    <h2>{{localize 'PF2E.WeaknessesLabel'}}</h2>
</div>

<ol class="weaknesses tags">
    {{#each data.traits.dv.selected as |v k|}}
    <li class="tag {{k}}">
        {{v}}
    </li>
    {{/each}}
    {{#if owner}}
    <li class="tag edit-btn">
        <a class="crb-trait-selector" data-trait-selector="weaknesses">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
    {{/if}}
</ol>

<div class="sidebar_title">
    <h2>{{localize 'PF2E.ImmunitiesLabel'}}</h2>
</div>

<ol class="immunities tags">
    {{#each data.traits.di.selected as |v k|}}
    <li class="tag {{k}}">
        {{localize v}}
    </li>
    {{/each}}
    {{#if owner}}
    <li class="tag edit-btn">
        <a class="crb-trait-selector" data-trait-selector="basic" data-config-types="immunityTypes" data-property="data.traits.di">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
    {{/if}}
</ol>
