.hitpoints {
    h4,
    label {
        font-family: $serif;
        font-weight: 500;
        margin: 0;
        line-height: 1;
        font-size: 10px;
    }
    .hp-big {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        .container {
            text-align: center;
            &.temp-hp {
                text-align: center;
                margin-right: 8px;
                input[type='number'] {
                    text-align: center;
                    border-bottom: 1px solid transparent;
                    &:focus {
                        border-bottom: 1px solid var(--tertiary);
                    }
                }
            }
            &.max-hp {
                text-align: center;
                margin-left: 8px;
                h2 {
                    @include text-gold;
                    text-align: center;
                }
            }
            &.max-hp,
            &.temp-hp {
                margin-top: 12px;
            }
            &.temp-hp,
            &.current-hp {
                input:hover {
                    @include input-glow;
                }
            }
            &.current-hp {
                display: flex;
                flex-direction: column;
                padding: 10px 4px 0;
                position: relative;
                z-index: 0;
                border-radius: 0 0 4px 4px;
                width: min-content;
                background-color: var(--primary);
                background-image: linear-gradient(
                    90deg,
                    darken($primary-color, 5) 0%,
                    lighten($primary-color, 8) 50%,
                    darken($primary-color, 5) 100%
                );
                border: 1px solid var(--tertiary);

                .data-value {
                    margin-top: 3px;
                    input[type='number'] {
                        font-size: 32px;
                        letter-spacing: -1px;
                        height: 32px;
                    }
                }
            }
        }
    }
    .hp-small {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        text-align: center;
        h4,
        label {
            @include micro;
        }
        .far,
        .fas {
            color: white;
        }
        .dying {
            margin-right: 6px;
        }
    }
}
